<!-- MAIN PAGE-->
<div class="main main-raised">
  <div class="section">
    <div class="container">
      <h2 class="section-title">Rechercher L'emploi de votre Choix</h2>
      <div class="row">
        <div class="col-md-3">
          <div class="card card-refine card-plain card-rose">
            <div class="card-body">
              <h4 class="card-title">
                Affiner
                <button class="btn btn-default btn-fab btn-fab-mini btn-link pull-right" rel="tooltip" title=""
                  data-original-title="Reset Filter">
                  <i class="material-icons">cached</i>
                </button>
              </h4>

              <div id="accordion" role="tablist">
                <div class="form-group bmd-form-group">
                  <div class="input-group">
                    <input type="text" class="form-control" placeholder="Ville/Departement...">
                  </div>
                </div>
                <div class="card card-collapse">

                  <div class="card card-collapse">
                    <div class="card-header" role="tab" id="headingTwo">
                      <h5 class="mb-0">
                        <a class="collapsed" data-toggle="collapse" href="#collapseThree" aria-expanded="false"
                          aria-controls="collapseThree">
                          Fonction
                          <i class="material-icons">keyboard_arrow_down</i>
                        </a>
                      </h5>
                    </div>
                    <div id="collapseThree" class="collapse" role="tabpanel" aria-labelledby="headingTwo">
                      <div class="card-body">
                        <div class="form-check">
                          <label class="form-check-label">
                            <input class="form-check-input" type="checkbox" value="" checked>
                            All
                            <span class="form-check-sign">
                              <span class="check"></span>
                            </span>
                          </label>
                        </div>

                        <div class="form-check">
                          <label class="form-check-label">
                            <input class="form-check-input" type="checkbox" value="">
                            Medecin
                            <span class="form-check-sign">
                              <span class="check"></span>
                            </span>
                          </label>
                        </div>

                        <div class="form-check">
                          <label class="form-check-label">
                            <input class="form-check-input" type="checkbox" value="">
                            Logistique/M&#233;tiers du Transport
                            <span class="form-check-sign">
                              <span class="check"></span>
                            </span>
                          </label>
                        </div>

                        <div class="form-check">
                          <label class="form-check-label">
                            <input class="form-check-input" type="checkbox" value="">
                            M&#233;tiers de la distribution - Management/Resp.
                            <span class="form-check-sign">
                              <span class="check"></span>
                            </span>
                          </label>
                        </div>

                        <div class="form-check">
                          <label class="form-check-label">
                            <input class="form-check-input" type="checkbox" value="">
                            N&#233;gociation/Gestion immobili&#232;re
                            <span class="form-check-sign">
                              <span class="check"></span>
                            </span>
                          </label>
                        </div>

                        <div class="form-check">
                          <label class="form-check-label">
                            <input class="form-check-input" type="checkbox" value="">
                            Informatique - D&#233;vel. Hardware
                            <span class="form-check-sign">
                              <span class="check"></span>
                            </span>
                          </label>
                        </div>

                        <div class="form-check">
                          <label class="form-check-label">
                            <input class="form-check-input" type="checkbox" value="">
                            Franchise
                            <span class="form-check-sign">
                              <span class="check"></span>
                            </span>
                          </label>
                        </div>

                        <div class="form-check">
                          <label class="form-check-label">
                            <input class="form-check-input" type="checkbox" value="">
                            Alternance
                            <span class="form-check-sign">
                              <span class="check"></span>
                            </span>
                          </label>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>

                <div class="card card-collapse">
                  <div class="card-header" role="tab" id="headingTwo">
                    <h5 class="mb-0">
                      <a class="collapsed" data-toggle="collapse" href="#collapseTwo" aria-expanded="false"
                        aria-controls="collapseTwo">
                        Type Contrat
                        <i class="material-icons">keyboard_arrow_down</i>
                      </a>
                    </h5>
                  </div>
                  <div id="collapseTwo" class="collapse" role="tabpanel" aria-labelledby="headingTwo">
                    <div class="card-body">
                      <div class="form-check">
                        <label class="form-check-label">
                          <input class="form-check-input" type="checkbox" value="" checked>
                          CDI
                          <span class="form-check-sign">
                            <span class="check"></span>
                          </span>
                        </label>
                      </div>

                      <div class="form-check">
                        <label class="form-check-label">
                          <input class="form-check-input" type="checkbox" value="">
                          CDD
                          <span class="form-check-sign">
                            <span class="check"></span>
                          </span>
                        </label>
                      </div>

                      <div class="form-check">
                        <label class="form-check-label">
                          <input class="form-check-input" type="checkbox" value="">
                          Temporaire
                          <span class="form-check-sign">
                            <span class="check"></span>
                          </span>
                        </label>
                      </div>

                      <div class="form-check">
                        <label class="form-check-label">
                          <input class="form-check-input" type="checkbox" value="">
                          Ind&#233;pendant
                          <span class="form-check-sign">
                            <span class="check"></span>
                          </span>
                        </label>
                      </div>

                      <div class="form-check">
                        <label class="form-check-label">
                          <input class="form-check-input" type="checkbox" value="">
                          Travail temporaire
                          <span class="form-check-sign">
                            <span class="check"></span>
                          </span>
                        </label>
                      </div>

                      <div class="form-check">
                        <label class="form-check-label">
                          <input class="form-check-input" type="checkbox" value="">
                          Stage
                          <span class="form-check-sign">
                            <span class="check"></span>
                          </span>
                        </label>
                      </div>

                      <div class="form-check">
                        <label class="form-check-label">
                          <input class="form-check-input" type="checkbox" value="">
                          Franchise
                          <span class="form-check-sign">
                            <span class="check"></span>
                          </span>
                        </label>
                      </div>

                      <div class="form-check">
                        <label class="form-check-label">
                          <input class="form-check-input" type="checkbox" value="">
                          Alternance
                          <span class="form-check-sign">
                            <span class="check"></span>
                          </span>
                        </label>
                      </div>
                    </div>

                  </div>
                </div>


              </div>
            </div>
          </div>
        </div>

        <div class="col-md-9">
          <!-- <div class="row">
                        <div class="card">
                            <div class="card-body">
                                Offre de Stage
                            </div>
                        </div>
                    </div> -->


          <div class="card card-plain card-description">
            <div class="row" *ngFor="let offre of offres">
              <div class="col-md-3">
                <div class="card-header card-header-image">
                  <a href="#">
                    <img class="img" src="../assets/img/bg2.jpg">
                  </a>
                </div>
              </div>
              <div class="col-md-6">
                <h6 class="card-category text-info">{{offre.titre}}</h6>

                <h6 class="card-title">
                  <a href="#">{{offre.domaine}}</a>
                </h6>
                <p><i class="material-icons">location_on</i>{{offre.localisation}}</p>
                <p class="card-text">
                  <i class="material-icons">work</i> {{offre.typeoffre}}
                </p>
                <!-- <p class="card-text">
                  {{offre.description}}<a href="home/detail/:id"  [class.selected]="offre === selectedOffre" (click)="onSelect(offre)">
                    Voir Plus </a>
                </p> -->
                <p class="card-text" >
                    {{offre.description}}<a [class.selected]="offre === selectedOffre" 
                                            (click)="onSelect(offre)" 
                                            routerLink="home/detail/:id" 
                                            routerLinkActive="active">
                      Voir Plus </a>
                  </p>

                <p class="author card-text">
                  by
                  <b>{{offre.auteur}}</b>
                  <small class="text-muted"> publié le {{offre.publishOn | date :  'dd/MM/yyyy-HH:mm'}}</small>
                </p>
              </div>
            </div>
            <div>
              <app-single-offre [offre]="selectedOffre"></app-single-offre>
            </div>
          </div>
          <br>
          


          <div class="card card-plain card-description">
            <div class="row">
              <div class="col-md-3">
                <div class="card-header card-header-image">
                  <a href="#">
                    <img class="img" src="../assets/img/bg2.jpg">
                  </a>
                </div>
              </div>
              <div class="col-md-6">
                <h6 class="card-category text-info">Enterprise</h6>
                <h3 class="card-title">
                  <a href="#">Marketing Digital</a>
                </h3>
                <p class="card-description">
                  Lorem ipsum dolor sit amet consectetur adipisicing elit. Tempora saepe
                  veritatis maiores aliquam sequi possimus consectetur commodi, molestias non.
                  Quo maxime vero dolorum voluptatem possimus atque earum fuga, in architecto!
                  <a href="#"> Read More </a>
                </p>
                <p class="author">
                  by
                  <a href="#">
                    <b>Ibrahima</b>
                  </a>, Il y a 2 jours
                </p>
              </div>
            </div>
          </div>
          <br>


        </div>

      </div>


    </div>

  </div>

</div><!-- END MAIN SECTION-->

<br>

<!-- END MAIN PAGE -->
<!-- <app-footer></app-footer> -->