<div class="main main-raised">
  <div class="container">
    <div class="section text-center">
      <h2 class="title">Explorez les offres d'emploi par domaine </h2>
    </div>
    <br>
    <div class="row">
      <div class="col-md-4">
        <div class="card card-background" style="background-image: url(./assets/img/examples/studio-4.jpg)">
          <div class="card-body">
            <h6 class="card-category text-info">Medecine</h6>
            <a href="#">
              <h3 class="card-title">La medecine Comtemporaine</h3>
            </a>
            <p class="card-description">
              Don't be scared of the truth because we need to restart the human foundation in truth And I love you
              like Kanye loves Kanye I love Rick Owens’ bed design but the back is...
            </p>
            <a href="#" class="btn btn-white btn-round">
              <i class="material-icons">subject</i> Read
            </a>
          </div>
        </div> <!-- end card -->
      </div>

      <div class="col-md-4">
        <div class="card card-background" style="background-image: url(./assets/img/examples/studio-4.jpg)">
          <div class="card-body">
            <h6 class="card-category text-info">Informatique</h6>
            <h3 class="card-title">Bill Gates a révolutionner le milieu</h3>
            <p class="card-description">
              Don't be scared of the truth because we need to restart the human foundation in truth And I love you
              like Kanye loves Kanye I love Rick Owens’ bed design but the back is...
            </p>
            <a href="#" class="btn btn-white btn-round">
              <i class="material-icons">subject</i> Read
            </a>
          </div>
        </div> <!-- end card -->
      </div>

      <div class="col-md-4">
        <div class="card card-background" style="background-image: url(./assets/img/examples/studio-3.jpg)">
          <div class="card-body">
            <h6 class="card-category text-info">Productivy Apps</h6>
            <a href="#">
              <h3 class="card-title">Learn how to use the new colors of 2017</h3>
            </a>
            <p class="card-description">
              Don't be scared of the truth because we need to restart the human foundation in truth And I love you
              like Kanye loves Kanye I love Rick Owens’ bed design but the back is...
            </p>
            <a href="#" class="btn btn-white btn-round">
              <i class="material-icons">subject</i> Read
            </a>
          </div>
        </div> <!-- end card -->
      </div>

      <div class="col-md-4">
        <div class="card card-background" style="background-image: url(./assets/img/examples/studio-4.jpg)">
          <div class="card-body">
            <h6 class="card-category text-info">Medecine</h6>
            <a href="#">
              <h3 class="card-title">La medecine Comtemporaine</h3>
            </a>
            <p class="card-description">
              Don't be scared of the truth because we need to restart the human foundation in truth And I love you
              like Kanye loves Kanye I love Rick Owens’ bed design but the back is...
            </p>
            <a href="#" class="btn btn-white btn-round">
              <i class="material-icons">subject</i> Read
            </a>
          </div>
        </div> <!-- end card -->
      </div>

      <div class="col-md-4">
        <div class="card card-background" style="background-image: url(./assets/img/examples/studio-4.jpg)">
          <div class="card-body">
            <h6 class="card-category text-info">Medecine</h6>
            <a href="#">
              <h3 class="card-title">La medecine Comtemporaine</h3>
            </a>
            <p class="card-description">
              Don't be scared of the truth because we need to restart the human foundation in truth And I love you
              like Kanye loves Kanye I love Rick Owens’ bed design but the back is...
            </p>
            <a href="#" class="btn btn-white btn-round">
              <i class="material-icons">subject</i> Read
            </a>
          </div>
        </div> <!-- end card -->
      </div>

      <div class="col-md-4">
        <div class="card card-background" style="background-image: url(./assets/img/examples/studio-4.jpg)">
          <div class="card-body">
            <h6 class="card-category text-info">Medecine</h6>
            <a href="#">
              <h3 class="card-title">La medecine Comtemporaine</h3>
            </a>
            <p class="card-description">
              Don't be scared of the truth because we need to restart the human foundation in truth And I love you
              like Kanye loves Kanye I love Rick Owens’ bed design but the back is...
            </p>
            <a href="#" class="btn btn-white btn-round">
              <i class="material-icons">subject</i> Read
            </a>
          </div>
        </div> <!-- end card -->
      </div>
    </div>
  </div><!-- section -->
</div>
<!-- end-main-raised -->
<br>