<div class="main main-raised">
  <div class="container">
    <div class="section text-center">
      <h2 class="title">Explorez les offres d'emploi par domaine </h2>
    </div>
    <br>

    <div class="row">
      <div class="col-md-3">
        <div class="card card-background" style="background-image: url(./assets/img/examples/studio-4.jpg)">
          <div class="card-body">
            <h6 class="card-category text-info">Medecine</h6>
            <h3 class="card-title">La medecine Comtemporaine</h3>

            <a href="#" class="btn btn-white btn-round">
              <i class="material-icons">subject</i> Voir Plus
            </a>
          </div>
        </div> <!-- end card -->
      </div>

      <div class="col-md-3">
        <div class="card card-background" style="background-image: url(./assets/img/examples/studio-4.jpg)">
          <div class="card-body">
            <h6 class="card-category text-info">Informatique</h6>
            <h3 class="card-title">Bill Gates: la revolution</h3>
            <a href="#" class="btn btn-white btn-round">
              <i class="material-icons">subject</i> Voir Plus
            </a>
          </div>
        </div> <!-- end card -->
      </div>

      <div class="col-md-3">
        <div class="card card-background" style="background-image: url(./assets/img/examples/studio-3.jpg)">
          <div class="card-body">
            <h6 class="card-category text-info">Administratifs</h6>
            <!-- <a href="#">
              <h3 class="card-title">Learn how to use the new colors of 2017</h3>
            </a> -->
            <h3 class="card-title">Fonctionnaire d'etat</h3>
            <a href="#" class="btn btn-white btn-round">
              <i class="material-icons">subject</i> Voir Plus
            </a>
          </div>
        </div> <!-- end card -->
      </div>

      <div class="col-md-3">
        <div class="card card-background" style="background-image: url(./assets/img/examples/studio-4.jpg)">
          <div class="card-body">
            <h6 class="card-category text-info">Commerce</h6>
            <h3 class="card-title">La medecine Comtemporaine</h3>
            <a href="#" class="btn btn-white btn-round">
              <i class="material-icons">subject</i> Voir Plus
            </a>
          </div>
        </div> <!-- end card -->
      </div>
    </div>

    <div class="row">
      <div class="col-md-3">
        <div class="card card-background" style="background-image: url(./assets/img/examples/studio-4.jpg)">
          <div class="card-body">
            <h6 class="card-category text-info">Distribution</h6>
            <h3 class="card-title">La medecine Comtemporaine</h3>
            <a href="#" class="btn btn-white btn-round">
              <i class="material-icons">subject</i> Voir Plus
            </a>
          </div>
        </div> <!-- end card -->
      </div>

      <div class="col-md-3">
        <div class="card card-background" style="background-image: url(./assets/img/examples/studio-4.jpg)">
          <div class="card-body">
            <h6 class="card-category text-info">Logistique</h6>
            <h3 class="card-title">La medecine Comtemporaine</h3>
            <a href="#" class="btn btn-white btn-round">
              <i class="material-icons">subject</i> Voir Plus
            </a>
          </div>
        </div> <!-- end card -->
      </div>

      <div class="col-md-3">
        <div class="card card-background" style="background-image: url(./assets/img/examples/studio-4.jpg)">
          <div class="card-body">
            <h6 class="card-category text-info">Distribution</h6>
            <h3 class="card-title">La medecine Comtemporaine</h3>
            <a href="#" class="btn btn-white btn-round">
              <i class="material-icons">subject</i> Voir Plus
            </a>
          </div>
        </div> <!-- end card -->
      </div>

      <div class="col-md-3">
        <div class="card card-background" style="background-image: url(./assets/img/examples/studio-4.jpg)">
          <div class="card-body">
            <h6 class="card-category text-info">Logistique</h6>
            <h3 class="card-title">La medecine Comtemporaine</h3>
            <a href="#" class="btn btn-white btn-round">
              <i class="material-icons">subject</i> Voir Plus
            </a>
          </div>
        </div> <!-- end card -->
      </div>
    </div>

    <br>

    <div class="row">
      <div class="col-md-3">
        <div class="card card-pricing card-plain">
          <div class="card-body">
            <ul>
              <li><a href="#"><i class="material-icons link"></i> Achat</a></li>
              <li><a href="#"><i class="material-icons link"></i> Aeronautique</a></li>
              <li><a href="#"><i class="material-icons link"></i> Commerce</a></li>
              <li><a href="#"><i class="material-icons link"></i> Tourisme</a></li>
              <li><a href="#"><i class="material-icons link"></i> Comptabilite</a></li>
              <li><a href="#"><i class="material-icons link"></i> Freelance</a></li>
            </ul>
          </div>
        </div>
      </div>
      <div class="col-md-3">
        <div class="card card-pricing card-plain">
          <div class="card-body">
            <ul>
              <li><a href="#"><i class="material-icons link"></i> Achat</a></li>
              <li><a href="#"><i class="material-icons link"></i> Aeronautique</a></li>
              <li><a href="#"><i class="material-icons link"></i> Agroalimentaire</a></li>
              <li><a href="#"><i class="material-icons link"></i> Audiovisuel</a></li>
              <li><a href="#"><i class="material-icons link"></i> Beaute</a></li>
              <li><a href="#"><i class="material-icons link"></i> Commerce</a></li>
              <!-- <li><i class="material-icons text-success">check</i> Sections</li> -->

            </ul>
          </div>
        </div>
      </div>

      <div class="col-md-3">
        <div class="card card-pricing card-plain">
          <div class="card-body">
            <ul>
              <li><a href="#"><i class="material-icons link"></i> Architecture</a></li>
              <li><a href="#"><i class="material-icons link"></i> Administratif</a></li>
              <li><a href="#"><i class="material-icons link"></i> Commerce</a></li>
              <li><a href="#"><i class="material-icons link"></i> Tourisme</a></li>
              <li><a href="#"><i class="material-icons link"></i> Communication</a></li>
              <li><a href="#"><i class="material-icons link"></i> Direction</a></li>
            </ul>
          </div>
        </div>
      </div>
      <div class="col-md-3">
        <div class="card card-pricing card-plain">
          <div class="card-body">
            <ul>
              <li><a href="#"><i class="material-icons link"></i> Achat</a></li>
              <li><a href="#"><i class="material-icons link"></i> Aeronautique</a></li>
              <li><a href="#"><i class="material-icons link"></i> Defense</a></li>
              <li><a href="#"><i class="material-icons link"></i> Hotellerie</a></li>
              <li><a href="#"><i class="material-icons link"></i> Ingénierie</a></li>
              <li><a href="#"><i class="material-icons link"></i> Nautisme</a></li>
            </ul>
          </div>
        </div>
      </div>

    </div>

  </div><!-- section -->
</div><!-- end-main-raised -->
<br>