<div class="subscribe-line subscribe-line-image" data-parallax="true" style="background-image: url(&apos;../assets/img/examples/ecommerce-header.jpg&apos;);">
  <div class="container">
    <div class="row">
      <div class="col-md-6 ml-auto mr-auto">
        <div class="text-center">
          <h3 class="title">Abonnez-vous à notre newsletter</h3>
          <p class="description">
            Inscrivez-vous à notre newsletter et recevez des nouvelles
            chaque semaine dans votre boîte de réception!
            Nous détestons le spam aussi, alors ne vous inquiétez pas.
          </p>
        </div>

        <div class="card card-raised card-form-horizontal">
          <div class="card-body">
            <form method="" action="">
              <div class="row">
                <div class="col-sm-8">

                  <div class="input-group">
                    <div class="input-group-prepend">
                      <span class="input-group-text">
                        <i class="material-icons">mail</i>
                      </span>
                    </div>
                    <input type="text" class="form-control" placeholder="Votre Email...">
                  </div>
                </div>
                <div class="col-sm-4">
                  <button type="button" class="btn btn-rose btn-block">s&apos;abonner</button>
                </div>
              </div>
            </form>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>