<div class="main main-raised">
  <div class="container">
    <div class="section text-center">
      <h2 class="title">Ajouter une offre d'emploi ou de stage</h2>
    </div>
  </div>
  <br>
  <div class="section ">
    <div class="contact-content">
      <div class="container">
          <!-- [formGroup]="addOfferForm" (ngSubmit)="onSubmit()" -->
        <form >

          <div class="row">

            <div class="col-md-6">
              <div class="form-group">
                <select class="selectpicker" data-style="select-with-transition" title="Domaine" data-size="7">
                  <option disabled>Domaine</option>
                  <option value="2">Medecine</option>
                  <option value="3">Informatique</option>
                </select>
              </div>

              <div class="form-group">
                <select class="selectpicker" data-style="select-with-transition" title="Type Contrat" data-size="7">
                  <option disabled> Type Contrat</option>
                  <option value="2">CDD </option>
                  <option value="3">CDI</option>
                  <option value="4">Stage</option>
                  <option value="5">Ind&#233;pendant</option>
                  <option value="6">Temporaire </option>

                </select>
              </div>
            </div>

            <div class="col-md-6">
              <div class="form-group">
                <label for="titre" class="bmd-label-floating">Localite</label>
                <input type="text" class="form-control" id="titre">
                <span class="bmd-help">Veuillez entrer la localite</span>
              </div>
            </div>
          </div>

          <div class="row">
            <div class="col-md-6">
              <div class="form-group">
                <label for="titre" class="bmd-label-floating">Titre</label>
                <input type="text" class="form-control" id="titre">
                <span class="bmd-help">Veuillez entrer le libelle de l'offre</span>
              </div>
            </div>

            <div class="col-md-6">
              <div class="form-group">
                <label for="jobID" class="bmd-label-floating">ID Job</label>
                <input type="text" class="form-control" id="jobID">
                <span class="bmd-help">Un numero d'identifiant de l'emploi</span>
              </div>
            </div>

          </div>



          <div class="row">
            <!-- col-lg-3 col-sm-4 -->
            <div class="col-md-6">
              <div class="form-group">
                <label class="label-control">Date Ouverture</label>
                <input type="text" class="form-control datetimepicker" value="dd/mm/aaaa">
              </div>
            </div>

            <div class="col-md-6">
              <div class="form-group">
                <label class="label-control">Date Limite</label>
                <input type="text" class="form-control datetimepicker" value="dd/mm/aaaa">
              </div>
            </div>
          </div>


          <div class="col-md-12">

            <div class="form-group label-floating">
              <label class="form-control-label bmd-label-floating" for="exampleInputTextarea">
                La description du poste peut ici...</label>
              <textarea class="form-control" rows="3" id="exampleInputTextarea"></textarea>
            </div>
          </div>

          <div class="col-md-12">

            <div class="form-group label-floating">
              <label class="form-control-label bmd-label-floating" for="exampleInputTextarea">
                La description du poste peut ici...</label>
              <textarea class="form-control" rows="3" id="exampleInputTextarea"></textarea>
            </div>
          </div>
          <div class="col-md-12">

            <div class="form-group label-floating">
              <label class="form-control-label bmd-label-floating" for="exampleInputTextarea">
                La description du poste peut ici...</label>
              <textarea class="form-control" rows="3" id="exampleInputTextarea"></textarea>
            </div>
          </div>

          <div class="submit text-center">
            <!-- <input type="submit" class="btn btn-primary btn-raised btn-round" value="ENREGISTRER"> -->
            <button type="submit" class="btn btn-primary">ENREGISTRER</button>
          </div>

        </form>
      </div>
    </div>
  </div>
</div>
<br>



