<footer class="footer footer-black footer-big">
  <div class="container">

    <div class="content">
      <div class="row">
        <div class="col-md-4">
          <h5>About Us</h5>
          <p>Volkeno est une startup qui crée des outils de conception qui accélèrent
            et facilitent le processus de développement Web.
          </p>
          <p>Nous aimons le Web et accordons une importance particulière à la manière dont les utilisateurs
            interagissent avec un produit numérique. Nous encourageons les entreprises et les particuliers à créer des
            projets Web de meilleure qualité dans le monde entier.
          </p>
        </div>

        <div class="col-md-4">
          <h5>Social Feed</h5>
          <div class="social-feed">
            <div class="feed-line">
              <i class="fa fa-twitter"></i>
              <p>How to handle ethical disagreements with your clients.</p>
            </div>
            <div class="feed-line">
              <i class="fa fa-twitter"></i>
              <p>The tangible benefits of designing at 1x pixel density.</p>
            </div>
            <div class="feed-line">
              <i class="fa fa-facebook-square"></i>
              <p>A collection of 25 stunning sites that you can use for inspiration.</p>
            </div>
          </div>
        </div>

        <div class="col-md-4">
          <h5>Instagram Feed</h5>
          <div class="gallery-feed">
            <img src="./assets/img/bg2.jpg" class="img img-raised rounded" alt="">
            <img src="./assets/img/bg2.jpg" class="img img-raised rounded" alt="">
            <img src="./assets/img/bg2.jpg" class="img img-raised rounded" alt="">
            <img src="./assets/img/bg3.jpg" class="img img-raised rounded" alt="">

            <img src="./assets/img/bg3.jpg" class="img img-raised rounded" alt="">
            <img src="./assets/img/bg2.jpg" class="img img-raised rounded" alt="">
            <img src="./assets/img/bg2.jpg" class="img img-raised rounded" alt="">
            <img src="./assets/img/bg2.jpg" class="img img-raised rounded" alt="">
          </div>

        </div>
      </div>
    </div>


    <hr>

    <ul class="float-left">
      <li>
        <a href="#">
          Nous Contacter
        </a>
      </li>
    </ul>

    <div class="copyright float-right">
      Copyright &#xA9;
      <script>document.write(new Date().getFullYear())</script> Volkeno All Rights Reserved.
    </div>
  </div>
</footer>