<div class="cards">
  <div class="container">
    <div class="title text-center">
      <h3>Accéder a plus d'offres d'emploi ici</h3>
    </div>
    <div class="row">

      <div class="col-lg-3 col-md-6">
        <div class="card card-pricing bg-warning">
          <div class="card-body ">
            <div class="icon">
              <i class="material-icons">business</i>
            </div>
            <h6 class="card-category text-info">Recherche par Domaine</h6>
            <!-- <h2 class="card-title">
              <small>les</small>Categorie</h2> -->

            <ul>
              <li>
                <a href="#"><i class="card-link"></i> Aéroport & Port<b>(15)</b></a>
              </li>
              <li>
                <a href="#"><i class="card-link"></i> Informatique<b>(5)</b></a>
              </li>
              <li>
                <a href="#"><i class="card-link"></i> Medical<b>(50)</b></a>
              </li>
              <li>
                <a href="#"><i class="card-link"></i> Administratif<b>(5)</b></a>
              </li>
            </ul>
            <a href="#" class="btn btn-danger">
              Voir Plus
            </a>
          </div>
        </div>
      </div>

      <div class="col-lg-3 col-md-6">
        <div class="card card-pricing">
          <div class="card-body ">
            <div class="icon">
              <i class="material-icons">business</i>
            </div>
            <h6 class="card-category text-info">Recherche par Secteur</h6>


            <ul>
              <li>
                <a href="#"><i class="card-link"></i> Agence de Recrutement<b>(5)</b></a>
              </li>
              <li>
                <a href="#"><i class="card-link"></i> Informatique<b>(5)</b></a>
              </li>
              <li>
                <a href="#"><i class="card-link"></i> Hotelier<b>(5)</b></a>
              </li>
              <li>
                <a href="#"><i class="card-link"></i> Immobilier<b>(5)</b></a>
              </li>
            </ul>
            <a href="#" class="btn btn-danger">
              Voir Plus
            </a>
          </div>
        </div>
      </div>

      <div class="col-lg-3 col-md-6">
        <div class="card card-pricing bg-info">
          <div class="card-body ">
            <div class="icon">
              <i class="material-icons">work</i>
            </div>
            <h6 class="card-category text-info">Recherche par Entreprise</h6>

            <ul>
              <li>
                <a href="#"><i class="card-link"></i> Volkeno<b>(5)</b></a>
              </li>
              <li>
                <a href="#"><i class="card-link"></i> Port Autonome de Dakar<b>(5)</b></a>
              </li>
              <li>
                <a href="#"><i class="card-link"></i> Dubai Port World<b>(5)</b></a>
              </li>
              <li>
                <a href="#"><i class="card-link"></i> Sonatel<b>(5)</b></a>
              </li>
            </ul>
            <a href="#" class="btn btn-danger">
              Voir Plus
            </a>
          </div>
        </div>
      </div>

      <div class="col-lg-3 col-md-6">
        <div class="card card-pricing bg-success">
          <div class="card-body ">
            <div class="icon">
              <i class="material-icons">location_city</i>
            </div>
            <h6 class="card-category text-info">Recherche par Ville</h6>


            <ul>
              <li>
                <a href="#"><i class="card-link"></i> Dakar<b>(155)</b></a>
              </li>
              <li>
                <a href="#"><i class="card-link"></i> St Louis<b>(15)</b></a>
              </li>
              <li>
                <a href="#"><i class="card-link"></i> Ziguinchor<b>(25)</b></a>
              </li>
              <li>
                <a href="#"><i class="card-link"></i> Mbour<b>(5)</b></a>
              </li>
            </ul>
            <a href="#" class="btn btn-danger">
              Voir Plus
            </a>
          </div>
        </div>
      </div>


    </div>
  </div>
</div>
<br>
<!--     *********    END FIND CARDS      *********      -->