<nav class="navbar navbar-color-on-scroll navbar-transparent fixed-top navbar-expand-lg" color-on-scroll="100">
  <div class="container">
    <div class="navbar-translate">
      <a class="navbar-brand">
        TesDeDakar </a>
      <button class="navbar-toggler" type="button" data-toggle="collapse" aria-expanded="false" aria-label="Toggle navigation">
        <span class="sr-only">Toggle navigation</span>
        <span class="navbar-toggler-icon"></span>
        <span class="navbar-toggler-icon"></span>
        <span class="navbar-toggler-icon"></span>
      </button>
    </div>
    <div class="collapse navbar-collapse">
      <ul class="navbar-nav ml-auto">

        <li class="dropdown nav-item">
          <a class="dropdown-toggle nav-link" data-toggle="dropdown">
            <i class="material-icons">apps</i> Emploi
          </a>
          <div class="dropdown-menu dropdown-with-icons">
            <a class="dropdown-item" routerLink="offres/all">
              <i class="material-icons" >select_all</i> Tous les offres
            </a>
            <a class="dropdown-item" routerLink="offres/emploi">
              <i class="material-icons" >layers</i> Offre d'emploi
            </a>
            <a class="dropdown-item" routerLink="auth/stage">
              <i class="material-icons">content_paste</i> Stage
            </a>
            <a class="dropdown-item" routerLink="offres/addOffre">
              <i class="material-icons">add</i> Ajouter Offres
            </a>

          </div>
        </li>
        <li class="dropdown nav-item">
          <a class="dropdown-toggle nav-link" data-toggle="dropdown">
            <i class="material-icons">person</i> Espace Membres
          </a>
          <div class="dropdown-menu dropdown-with-icons" routerLinkActive="active">
            <a class="dropdown-item" routerLink="auth/signin">
              <i class="material-icons">fingerprint</i> Login
            </a>
            <a class="dropdown-item" routerLink="auth/signup">
              <i class="material-icons">person_add</i> S'inscrire
            </a>
          </div>

        </li>

        <li class="nav-item">
          <a class="nav-link" rel="tooltip" title="" data-placement="bottom" target="_blank" data-original-title="Follow us on Twitter">
            <i class="fa fa-twitter"></i>
          </a>
        </li>
        <li class="nav-item">
          <a class="nav-link" rel="tooltip" title="" data-placement="bottom" target="_blank" data-original-title="Like us on Facebook">
            <i class="fa fa-facebook-square"></i>
          </a>
        </li>
        <li class="nav-item">
          <a class="nav-link" rel="tooltip" title="" data-placement="bottom" target="_blank" data-original-title="Follow us on Instagram">
            <i class="fa fa-instagram"></i>
          </a>
        </li>
      </ul>
    </div>
  </div>
</nav>

<router-outlet></router-outlet>
